 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

h1 {
  @include span-columns(12);
  margin: 3% auto;
  text-align: center;
}

form {
  @include span-columns(10);
  input {
    @include span-columns(8);
    @include shift(1);
    display: block;
    font-style: 4em;
    margin: 2%;
    padding: 3%;
    text-align: left;
  }
  button {
    @include span-columns(8);
    display: block;
    font-style: 4em;
    margin: 2%;
    padding: 3%;
    text-align: center;
    width: 25%;
  }
}


.vid-container {
  @include span-columns(12);

}